// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #333;
$backgroundImage: ""; //url("backgrounds/space.jpg")

// Primary/body text
$mainFont: 'RobotoDraft', sans-serif;
$secondaryFont: 'Rokkitt', serif;
$codeFont: Menlo, monospace;
$mainFontSize: 3.5rem;
$darkColor: #333;
$transparentBlack: rgba(0, 0, 0, 0.85);
$mainColor: #fff;
$headingColor: #fff;
$secondaryColor: #999;
$tertiaryColor: rgb(236, 255, 5);
$mutedColor: #999;
$white: #fff;
$alertColor: #ff0000;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: $secondaryFont;
$headingFontWeight: 700;
$headingLineHeight: 1em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: none;
$headingTextShadow: none; //2px 2px 6px #000;
$paragraphTextShadow: none; //1px 3px 3px #000;
$paragraphFontSize: 2em;
$paragraphLineHeight: 1.25em;

// Links and actions
$linkColor: #56FFF9;
$linkColorHover: #fff;
$altLinkColor: #55491F;
$highlightColor: #cfe000;
$buttonColor: #4285f4;
$buttonTextColor: $white;

$separatorColor: $mainColor;
$separatorHeight: 3px;

$progressBGColor: transparentize($backgroundColor, 0.75);
$progressFGColor: $highlightColor;

$navigationButtonColor: $linkColor;
$navigationHoverColor: $linkColorHover;

// Text selection
$selectionBackgroundColor: #97948f;
$selectionColor: $white;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

// breakpoints
$mobile: "(max-width: 600px)";
